<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--add code about new servlet -->
    <servlet>
        <servlet-name>liuao</servlet-name><!--give any name-->
        <servlet-class>com.Liuhao.week4.demo.JDBCDemoServlet</servlet-class><!--package +name of servlet class-->
    </servlet>
    <!--automatic code-->
 <servlet-mapping>
     <servlet-name>liuao</servlet-name>
     <url-pattern>/jdbc</url-pattern>
 </servlet-mapping>

    <!--x=5, x=a, so we can say a=5
    so /hello==com.dabing.week2.demo.HelloWorldServlet
    -->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost;databaseName=userdb;</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>261217</param-value>
    </context-param>
    -->
    <!--use my sql-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/userdb;</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>


</web-app>
